<div class="jumbotron">

	<h1 align="center"> Perfiles </h1>

  <div class="container">
    <div class="well well-lg" style="height:400px" >
      <% @profiles.each do |profile| %>
        <div class="list-group col-md-6 col-md-offset-3">
            <a href=<%=profile_path(profile)%> class="list-group-item ">
              <h3 class="list-group-item-heading text-center">
                <%= profile.name %>
              </h3>
            </a>
        </div>
      <% end %>
    </div>
    <%= will_paginate @profiles, renderer: BootstrapPagination::Rails ,:class=>" pagination-sm " %>
  </div>
  <hr>
  <%= link_to 'Bandas', bands_path, :class=>"btn btn-primary btn-lg" %>
</div>
