<div class="jumbotron">

	<h1 align="center"> Perfiles </h1>

  <div class="container">
    <div class="well well-lg">
      <p class="text-center">
  		  <% @profiles.each do |profile| %>
          <%= link_to profile.name, profile_path(profile) %>
          <br>
        <% end %>
      </p>
    </div>
  </div>

  <hr>
  <%= link_to 'Bandas', bands_path, :class=>"btn btn-primary btn-lg" %>
</div>
