
<h1> <%= @profile.name %> </h1>

<p>
	<strong> birth_date: </strong>
	<%= @profile.birth_date %>
</p>

<p>
	<strong> email: </strong>
	<%= @profile.email %>
</p>

<% if policy(@profile).edit? %>
  <%= link_to 'Edit', edit_profile_path(@profile) %>
<% end %>
