<div class="jumbotron">

	<h1 align="center"> Estilos </h1>

  <div class="container">
  	<div class="well well-lg">
  		<p class="text-center">
  			<% @musical_styles.each do |musical_style| %>
					<%= musical_style.name %> <br>
				<% end %>
  		</p>
		</div>
  </div>

  <hr>
  <% if policy(MusicalStyle).new? %>
    <%= link_to "Nuevo Estilo", new_musical_style_path() , :class => "btn btn-primary btn-lg" %>
  <% end %>
</div>