<div class="jumbotron">

	<h1 align="center">Bienvenido </h1>

  <div class="container">
    <div class="well well-lg">
      <p class="text-center">
        Esperamos que tenga una experiencia placentera en esta pagina web
      </p>
    </div>
  </div>

  <hr>
  <p class="text-center">
    <%= link_to 'Perfiles', profiles_path, :class=>"btn btn-primary btn-lg" %>
    <%= link_to 'Bandas', bands_path, :class=>"btn btn-primary btn-lg" %>
  </p>
</div>