<div class="jumbotron">
	<h1 align="center">Bienvenido </h1>
  <div class="container">
  	<br>
  <p class="text-center">
  	Esperamos que su experiencia en esta pagina web sea placentera
  </p>
  	<br>
  <p class="text-center">
  	<a class="btn btn-primary btn-lg" href="profiles" role="button">Lista Perfiles</a>
  	<a class="btn btn-primary btn-lg" href="bands" role="button">Lista Bandas</a>
  </p>
  	<br>
  <p class="text-center">
  	<% if not current_user.present? %>
  	<a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Registrase</a>
  	<a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">Ingresar</a>
  	<% end %>
  	<% if current_user.present? %>
  	<a class="btn btn-primary btn-lg" href="/users/sign_out" data-method="delete" role="button">Salir</a>
  	<% end %>
  </p>
  </div>
</div>