<div class="jumbotron">

	<h1 align="center"> Instrumentos </h1>

  <div class="container">
  	<div class="well well-lg" style="height:400px" >
      <% @instruments.each do |intrument| %>
        <div class="panel panel-default col-md-6 col-md-offset-3 text-center">
          <h3>
            <%= intrument.name %>
          </h3>
        </div>
			<% end %>
		</div>
    <%= will_paginate @instruments, renderer: BootstrapPagination::Rails ,:class=>" pagination-sm " %>
  </div>

  <hr>
  <% if policy(Instrument).new? %>
    <%= link_to "Nuevo Instrumentos", new_instrument_path() , :class => "btn btn-primary btn-lg" %>
  <% end %>
</div>